<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:fmt="">
<head>
    <meta charset="UTF-8">
    <title>Лиги</title>
    <link rel="stylesheet" type="text/css" href="mysite.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3.org/1999/XSL/Transform">
    <link rel="stylesheet" type="text/css" href="http://www.mysite.ru/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <h1><label>Лиги</label></h1>
        <h3><label>KHL</label></h3>
        <h3><label>NHL</label></h3>
        <h4><label>Просмотр команд KHL</label></h4>

        <p><a href="/team-listKHL"><button class="button button4">КХЛ</button></a></p>

</body>
</html>